body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 3px;
}

* {
	box-sizing: border-box;
}
.content {
	width: 1000px;
	margin: 0 auto;
}

header, footer {
	min-height: 10vh;
	width: 100%;
	border: 4px solid rgb(201, 174, 207);
	background: rgb(233, 227, 232);
	padding: 20px;
}


.main {
	display: flex;
	align-items: stretch;
	min-height: 70vh;
	border: 4px solid rgb(160, 122, 168);
}

.main > * {
	border: 4px solid rgb(201, 174, 207);
	background: rgb(233, 227, 232);
	padding: 20px 40px;
}

nav, aside {
	width: 25%;
}

article {
	width: 50%;
}

nav a {
	display: block;
	color: rgb(53, 175, 24);
}
@media (max-width:1000px) {
	.content {
		width: auto;
	}
}